;{{ ansible_managed }}
{% if php_opcache_enabled_in_ini %}
zend_extension=opcache.so
{% endif %}

opcache.enable={{ php_opcache_enable }}
opcache.jit=tracing
opcache.jit_buffer_size=100M
opcache.enable_cli=0
opcache.memory_consumption={{ php_opcache_memory_consumption|default(256) }}
opcache.interned_strings_buffer={{ php_opcache_interned_strings_buffer|default(64) }}
opcache.max_accelerated_files={{ php_opcache_max_accelerated_files|default(20000) }}
opcache.max_wasted_percentage={{ php_opcache_max_wasted_percentage|default(5) }}
opcache.validate_timestamps={{ php_opcache_validate_timestamps|default(0) }}
opcache.revalidate_freq={{ php_opcache_revalidate_freq|default(0) }}
opcache.max_file_size={{ php_opcache_max_file_size }}


opcache.enable_file_override={{ php_opcache_enable_file_override|default(1) }}
